include include/header

h1 I'm the index

a(href="other.html") Other view

h1.someClass I'm a CSS test

h1(onclick="javascript:jsTest()").clickable I'm a javascript test (click me)

include include/footer